.panel.svelte-hxsa5u{padding:1em 2em;border-radius:1em;background-color:var(--color-panel)}@media screen and (min-width:1024px){.panel.svelte-hxsa5u{padding:2em 3em}}.panel-plain.svelte-hxsa5u{background-color:var(--color-panel-plain)}
